.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #f4f4f4;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 15px;

  h2 {
    margin-bottom: 1rem;
  }

  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .image-contact {
      max-height: 300px;
      width: auto;
    }

    .icon {
      font-size: 1.5rem;
      margin-right: 10px;
    }

    h4 {
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 0.9rem;
    }
  }
}

.contact-form {
  width: 45%;
  background: #d1e5e6;
  padding: 2rem;
  border-radius: 8px;

  form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    input,
    textarea {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
    }

    button {
      background: #00796b;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background: #005b4f;
      }
    }
  }
}

.contact-map {
  width: 100%;
  margin-top: 2rem;
  border-radius: 8px;
  overflow: hidden;
  padding: 2rem;
}
