.Servicios {
  background-color: #e6f0f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  height: auto;
  margin: 20px 40px 20px 40px;
  border-radius: 20px;
  flex-wrap: nowrap;

  .texto {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #232323;
  }

  p {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
  }

  button {
    width: 155px;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #99e8fc; // Red button
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;

    &:hover {
      background-color: #67e1ff;
    }
  }

  .fun-image {
    display: flex;
    justify-content: center;
  }

  .fun-image img {
    object-fit: contain;
  }
  @media (max-width: 850px) {
    flex-wrap: wrap; /* Permite que los elementos hagan wrap */
    justify-content: center; /* Centra los elementos en la nueva fila */

    .texto {
      width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
      text-align: center; /* Centra el texto */
    }

    .fun-image {
      width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
      margin-top: 1rem; /* Añade espacio entre el texto y la imagen */
    }

    .fun-image img {
      max-width: 80%; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
    }
  }
}
.mySwiper {
  margin: 40px 40px 40px 40px;
  background-color: rgba(255, 255, 255, 0.789);
  .swiper-slide {
    display: flex;
    justify-content: center; /* Centers image horizontally */
    align-items: center; /* Centers image vertically */
  }

  .swiper-slide img {
    max-width: 40%;
    object-fit: contain; /* Ensures the whole image is fully visible */
  }
  @media (max-width: 1024px) {
    .swiper-slide img {
      max-width: 50%; /* Aumenta el tamaño de las imágenes en pantallas medianas */
    }
  }

  @media (max-width: 768px) {
    .swiper-slide img {
      max-width: 70%; /* Aumenta aún más el tamaño en pantallas pequeñas */
    }
  }

  @media (max-width: 480px) {
    .swiper-slide img {
      max-width: 90%; /* Ocupa casi todo el ancho en pantallas muy pequeñas */
    }
  }
  .swipe-image {
    border-radius: 20px;
  }
}
